.h1 {
  text-align: center;
}

.cell {
  border-style: solid;
  border-width: medium;
  padding: 30px;
  align: center;
}

.hit {
    background: url("bino.gif");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

.miss {
    background: url("dorito.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: solid;
}

#table {
  margin: auto;
  background-image: url("potato.jpg");
  border-collapse: collapse;
  border-style: solid;
}

#table td {
  height: 75px;
  width: 75px;
  border-style: solid;
}
